@tailwind base;
@tailwind components;
@tailwind utilities;

/* Off-white: #F8F8FF */
/* Ivory: #FFFFF0 */
/* Eggshell: #F0EAD6 */
/* Antique white: #FAEBD7 */
/* Snow: #FFFAFA */

/* Hot pink: #FF69B4
Bright orange: #FFA500
Lemon yellow: #FFFF00
Electric blue: #00BFFF
Bright purple: #FF00FF */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #fffafa;
}
